<footer class="footer">
  <div class="footer-content-container">
    <div class="company-info">

      <div class="company-name">IdeaCrew, Inc. © 2020</div>
    </div>
    {{ partial "nav-links" . }}
    <!-- <div class="contact-info">
      <h3>Contact Info</h3>
      <div class="label-heading">Email</div>
      <a class="contact-link" href="mailto:info@ideacrew.com">info@ideacrew.com</a>
      <div class="label-heading"v>Phone</div>
      <a class="contact-link" href="tel:202-688-3130">202-688-3130</a>
      <div class="label-heading">Address</div>
      <a class="contact-link" href="https://g.page/IdeaCrew?share"
        >1150 Connecticut Ave NW, Suite 710, Washington, DC 20036</a
      >
    </div>
    <div class="services-info">
      <h3 class="services-heading">Our Services</h3>
      <ul class="services-list">
        <li>Management Consulting</li>
        <li>Data Integration</li>
        <li>Application Development</li>
        <li>DevOps & Cloud Infrastructure</li>
      </ul>
    </div> -->
  </div>
</footer>
