<ul class="nav-links">
  <li class="home-link navbar-list-item">
    <a class="navbar-link" href="/">Home</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/about/">About</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/work">Our Work</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/careers/">Careers</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/contact/">Contact</a>
  </li>
</ul>
