<ul class="nav-links">
  <li class="navbar-list-item no-header">
    <a class="navbar-link" href="/">Home</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/about/">About</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/health-benefit-marketplace/">
      <abbr title="Health Benefit Marketplace">HBM</abbr>
    </a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/services/">Services</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/solutions/">Solutions</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/contact/">Contact</a>
  </li>
</ul>
