<ul class="nav-links">
  <li class="navbar-list-item no-header">
    <a class="navbar-link" href="/">Home</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/about/">About</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/state-based-marketplace/">
      <abbr title="State-Based Marketplace">SBM</abbr>
    </a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/work/">Work</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/news/">News</a>
  </li>
  <li class="navbar-list-item">
    <a class="navbar-link" href="/contact/">Contact</a>
  </li>
  <li class="navbar-list-item no-header">
    <a class="navbar-link" href="/careers/">Careers</a>
  </li>
</ul>
