<li class="work-item">
  <img
    class="work-image color"
    src="https://res.cloudinary.com/ideacrew/image/upload/c_fit,f_auto,h_178,w_178/ideacrew-website/{{ .Params.featured_image }}"
    alt="" >
  <img
    class="work-image grayscale"
    src="https://res.cloudinary.com/ideacrew/image/upload/e_grayscale,c_fit,f_auto,h_178,w_178/ideacrew-website/{{ .Params.featured_image }}"
    alt="" >
  <h3 class="work-title">
    <a class="work-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
  <p class="work-summary">{{ .Params.summary }}</p>
</li>

