@import './scss/reboot';
@import './scss/colors';
@import './scss/typography';
@import './scss/layout';
@import './scss/header';
@import './scss/home';
@import './scss/footer';
@import './scss/shortcodes';
@import './scss/index-page';
@import './scss/cta';
@import './scss/about';
@import './scss/person-tile';
@import './scss/client-tile';
@import './scss/leadership-single';
@import './scss/contact';
@import './scss/services';
@import './scss/clients';

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  white-space: nowrap; /* added line */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
