{{ define "head-styles" }}
{{ $pageCSS := "scss/404.scss" }}
{{ $options := (dict "outputStyle" "compressed") }}
{{ $inlineCSS := resources.Get $pageCSS | resources.ToCSS $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
<div class="container-404">
  <img class="error-code" src="/images/404.svg" alt="">
  <h1 class="page-heading">Page Not Found</h1>
  <a href="/" class="button primary" type="button">Return to Homepage</a>
  <img class="question-image" src="/images/question.svg" alt="">
</div>
{{ end }}
