{{ define "head-scripts" }}
{{ end }}

{{ define "head-styles" }}
{{ $options := (dict "targetPath" "index.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/index.scss" | resources.ToCSS $options | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main"}}
<section class="index-heading">
  <h1>
    Strategy & technology solutions that help our clients solve their most important challenges
  </h1>
  <div class="hero-cta">
    <a href="/contact/" class="button outline">Get in Touch</a>
    <a href="/state-based-marketplace/" class="button primary">State-Based Marketplace</a>
  </div>
</section>

<section class="sbm-section">
  <h2>State-Based Marketplace</h2>
  <ul class="sbm-list">
    <li class="sbm-item">Individuals</li>
    <li class="sbm-item">Employers</li>
    <li class="sbm-item">Employees</li>
    <li class="sbm-item">Brokers</li>
  </ul>
  <div class="link-container">
    <a href="/state-based-marketplace" class="button outline">
      Learn More About Our Benefits Marketplace Solution
    </a>
  </div>
</section>

<section class="clients-section">
  <h2 class="clients-section-heading">Our Clients</h2>
  {{ partial "client-list" . }}
</section>

<section class="services-section">
  <h2>Our Services</h2>
  <ul class="services-list">
    <li class="services-item">Management Consulting</li>
    <li class="services-item">Data Integration</li>
    <li class="services-item">Application Development</li>
    <li class="services-item">DevOps & Cloud Infrastructure</li>
  </ul>
  <div class="link-container">
    <a class="button outline" href="/about/#services-section">
      See More of Our Services
    </a>
  </div>
</section>

<section class="recent-work-section">
  <h2 class="work-section-heading">Our Work</h2>
  <ul class="work-list">
    {{ range first 4 (where .Site.RegularPages "Section" "work") }}
    {{ partial "work-item" . }}
    {{ end }}
  </ul>
  <div class="link-container">
    <a href="/work/" class="button outline">Read More of Our Work</a>
  </div>
</section>

{{ end }}

{{ define "cta" }}
  {{ partial "cta.html" . }}
{{ end }}

{{ define "schema" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Washington",
      "addressRegion": "District of Columbia",
      "postalCode": "20036",
      "streetAddress": "1150 Connecticut Ave NW #710"
    },
    "email": "info@ideacrew.com",
    "name": "IdeaCrew",
    "telephone": "(202) 688-3130",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-202-688-3130",
      "contactType": "business inquiries"
    },
    "founder": {
      "@type": "Person",
      "name": "Dan Thomas"
    }
  }
</script>
{{ end }}
