.work-item {
  display: grid;
  position: relative;
  padding: var(--side-padding);
  grid-template-columns: 1fr;
  grid-template-rows: 10em 4rem 8em;
  border: 2px solid var(--secondary-blue);
  border-radius: 0.27em;
  list-style: none;
}

.work-image {
  align-self: center;
  justify-self: center;
  filter: grayscale(1);
  max-height: 3.75rem;
}

.work-item:hover,
.work-item:focus,
.work-item:focus-within {
  .work-image {
    filter: grayscale(0)
  }
}

.work-title {
  margin: 0;
}

.work-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
