.work-list {
  // display: grid;
  margin-top: 1rem;
  padding: 0;
  // grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.work-item {
  padding: var(--side-padding);
  border: 2px solid var(--secondary-blue);
  border-radius: 0.27em;
  list-style: none;
}

.work-content {
  top: 60%;
  left: 0;
  width: 100%;
  padding: var(--side-padding);

  p {
    font-size: 1rem;
  }
}

.work-title {
  color: var(--secondary-blue);
  font-family: var(--sans-serif);
  font-size: 1.25rem;
  font-weight: 700;
}
