.work-list {
  // display: grid;
  margin-top: 1rem;
  padding: 0;
  // grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.work-item {
  position: relative;
  padding-bottom: 136.63%;
  border: 2px solid var(--secondary-blue);
  border-radius: 0.27em;
  background: conic-gradient(
    from 35.5deg at 50% 50%,
    hsla(236, 100%, 10%, 0.2) 0deg,
    hsla(236, 100%, 10%, 0) 360deg
  );
  list-style: none;
}

.work-item + .work-item {
  margin-top: 1rem;
}

.work-content {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--side-padding);

  p {
    font-size: 0.75rem;
  }
}

.work-title {
  color: var(--secondary-blue);
  font-family: var(--sans-serif);
  font-size: 1.5rem;
  font-weight: 700;
}
