{{ define "head-scripts" }}
<script src="https://www.google.com/recaptcha/api.js?render=6LezZ98ZAAAAAP9dauh0WuNerMeRvRzhuP83rbL6"></script>
{{ end }}

{{ define "main" }}
<h1>Contact Us</h1>
<div class="contact-info">
  <div>Email</div>
  <a href="mailto:info@ideacrew.com">info@ideacrew.com</a>
  <div>Phone</div>
  <a href="tel:202-688-3130">202-688-3130</a>
  <div>Address</div>
  <a href="https://g.page/IdeaCrew?share"
    >1150 Connecticut Ave NW, Suite 710, Washington, DC 20036</a
  >
  <iframe title="IdeaCrew's location in Washington DC" class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7384.461599373528!2d-77.04385897801647!3d38.906062648858494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7b8ed774369%3A0x3be4d6b4c87536d0!2sIdeaCrew%2C%20Inc.!5e0!3m2!1sen!2sus!4v1604677071819!5m2!1sen!2sus" width="100%" height="350" frameborder="0" style="border:0;" loading="lazy" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<form class="contact-form">
  <div class="input-group">
    <label for="contact-name">Your name</label>
    <input type="text" name="contact-name" id="contact-name" />
  </div>
  <div class="input-group">
    <label for="contact-email">Your email</label>
    <input
      type="email"
      inputmode="email"
      name="contact-email"
      id="contact-email"
    />
  </div>
  <div class="input-group">
    <label for="contact-company">Your company</label>
    <input type="text" name="contact-company" id="contact-company" />
  </div>
  <div class="input-group">
    <label for="contact-message">Let us know what you're looking for and how we can help</label>
    <textarea
      name="contact-message"
      id="contact-message"
      cols="30"
      rows="7"
    ></textarea>
  </div>
  <button disabled class="submit-button" type="button">Send message</button>
</form>
<div class="shade"></div>
{{ end }}


{{ define "page-scripts" }}
{{ $opts := dict "targetPath" "contact.js"  }}
{{ $built := resources.Get "ts/contact.ts" | js.Build $opts | resources.Minify | resources.Fingerprint }}
<script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
{{ end }}
