.about-content-container {
  .ideacrew-logo {
    display: none;
  }
}

.graphic {
  display: none;
}

.service-container {
  ul,
  h3 {
    font-family: var(--sans-serif);
  }

  ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
  }

  li {
    font-size: 0.75rem;
    text-align: left;
  }

  h3 {
    // margin-top: 1.75rem;
    font-size: 1rem;
    text-align: left;
  }
}

.values {
  h3 {
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 0.75rem;
  }
}

.leadership-team {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  list-style: none;
  gap: 0.75rem;
}

.about-content {
  margin-bottom: 5.5rem;
}

.person-tile {
  display: grid;
  position: relative;
  padding: 0.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1.5rem, max-content) minmax(2.5rem, max-content);
  border: 2px solid var(--secondary-blue);
  border-radius: 5px;
  font-size: 0.75rem;
}

.person-name {
  font-size: 1rem;
  font-weight: 700;
  grid-column: 1 / -1;
  line-height: 1.25;
}

.person-title {
  color: inherit;
}

.linked-in-link {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  align-self: end;
  line-height: 1;
}

.linked-in-logo {
  width: 1rem;
}

@media screen and (min-width: 769px) {
  .about-content-container {
    display: grid;
    grid-template-columns: 80% 1fr;

    h1 {
      grid-column: span 2;
    }

    .ideacrew-logo {
      display: block;
      justify-self: center;
    }
  }

  .services-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    ul {
      padding: 0;
      list-style: none;
    }

    .graphic {
      display: block;
      margin-bottom: 2rem;
    }

    h2 {
      grid-column: 1 / 5;
    }

    h3 {
      font-weight: 600;
    }
  }

  .leadership-team {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .careers-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    h2 {
      grid-column: 1 / -1;
    }

    .button {
      align-self: center;
    }
  }

  .careers-content {
    grid-column: 1 / 4;
    max-width: 55ch;
  }
}

@media screen and (min-width: 1128px) {
  .values-section {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr repeat(3, 17.776rem) 1fr;
    grid-column: 1 / -1;
    background-color: var(--neutral-094);
    // column-gap: 1rem;

    h2 {
      grid-column: 2 / span 3;
    }

    .people {
      grid-column: 2 / 3;
    }

    .values {
      padding: 1rem;
      border-left: 5px solid var(--text-color);

      p {
        margin-bottom: 0;
      }
    }
  }

  .careers-content {
    max-width: 75ch;
  }
}
