.about-content-container {
  .ideacrew-logo {
    display: none;
  }
}

.graphic {
  display: none;
}

.service-container {
  text-align: center;

  ul,
  h3 {
    font-family: var(--sans-serif);
  }

  ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
  }

  li {
    font-size: 0.75rem;
    text-align: left;
  }

  h3 {
    // margin-top: 1.75rem;
    font-size: 1rem;
    text-align: left;
  }
}

.leadership-team {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  list-style: none;
  gap: 0.75rem;
}

.about-content {
  margin-bottom: 5.5rem;
}

.person-tile {
  display: grid;
  position: relative;
  padding: 0.5rem;
  grid-template-columns: 1fr min-content;
  grid-template-rows: minmax(2.5rem, max-content) minmax(2.5rem, max-content) min-content;
  border: 2px solid var(--secondary-blue);
  border-radius: 5px;
  font-size: 0.75rem;
}

.person-name {
  color: var(--secondary-blue);
  font-size: 1rem;
  font-weight: 700;
  grid-column: 1 / -1;
  line-height: 1.25;

  // &:hover {
  //   color: var(--neutral-020);
  //   text-decoration: underline;
  // }
}

.person-title {
  // grid-column: 1 / 2;
  color: inherit;
}

@media screen and (min-width: 769px) {
  .about-content-container {
    display: grid;
    grid-template-columns: 80% 1fr;

    h1 {
      grid-column: span 2;
    }

    .ideacrew-logo {
      display: block;
      justify-self: center;
    }
  }

  .leadership-team {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
