:root {
  --black: hsl(48, 17%, 15%);
  --darkest: hsl(67, 9%, 39%);
  --darker: hsl(44, 34%, 48%);
  --lighter: hsl(47, 82%, 96%);
  --white: hsl(0, 0%, 100%);
  --accent: hsl(42, 100%, 60%);
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-094: hsl(0, 0%, 94%);
  --neutral-087: hsl(0, 0%, 87%);
  --neutral-077: hsl(0, 0%, 77%);
  --neutral-064: hsl(0, 0%, 64%);
  --neutral-041: hsl(0, 0%, 41%);
  --neutral-031: hsl(0, 0%, 31%);
  --neutral-020: hsl(0, 0%, 20%);
  --neutral-015: hsl(240, 3%, 15%);
  --neutral-010: hsl(240, 4%, 10%);
  --neutral-000: hsl(0, 0%, 0%);
  --primary-blue: hsl(212, 100%, 47%);
  --secondary-blue: hsl(236, 100%, 10%);
  --dark-blue: hsl(236, 22%, 24%);
  --dark-blue-tint: hsl(236, 40%, 87%);
}
