.contact-us-page > * + * {
  margin-top: 1rem;
}

.contact-us-page {
  .contact-info {
    grid-area: contact contact;
    line-height: 2;
    z-index: 2;

    .label-heading {
      font-weight: 700;
    }

    a + .label-heading {
      margin-top: 1rem;
    }

    a {
      color: var(--secondary-blue);
    }
  }
}

.contact-form {
  position: relative;
  margin-top: 1rem;
  z-index: 2;
  grid-area: form;

  label {
    margin-bottom: 0.125rem;
    color: var(--neutral-020);
    font-size: 0.75rem;
  }

  > * + * {
    margin-top: 1rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 1px solid var(--neutral-058, chartreuse);
    border-radius: 5px;
  }

  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--neutral-058, chartreuse);
    border-radius: 5px;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem 0;
    border: 0;
    border-radius: 5px;
    background-color: var(--blue-035, chartreuse);
    color: var(--neutral-094);

    &:disabled {
      background-color: var(--neutral-031, chartreuse);
      cursor: not-allowed;
    }
  }
}

.cta-careers {
  grid-area: cta;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;

  a {
    text-align: center;
  }

  svg {
    align-self: center;
    margin-top: 1rem;
  }
}

.map {
  display: none;
  grid-area: map;
}

@media screen and (min-width: 1128px) {
  .map {
    display: block;
    background-image: url('https://res.cloudinary.com/ideacrew/image/upload/f_auto/v1605645847/ideacrew-website/google-map-image.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
  }

  .contact-us-page {
    grid-template-columns: 1fr repeat(2, 26.665rem) 1fr;
    grid-template-areas:
      '. heading heading .'
      '. form map .'
      '. contact contact .'
      '. cta cta . ';

    column-gap: 1rem;

    h1 {
      grid-area: heading;
    }

    .cta-careers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      h2,
      a {
        margin: 0;
        grid-column: 1 / 2;
      }

      h2 {
        align-self: end;
      }

      a {
        align-self: start;
      }

      svg {
        margin: 0;
        grid-column: 2 / -1;
        grid-row: 1 / span 2;
        justify-self: center;
      }
    }
  }
}
