.contact-info {
  grid-column: 2 / 6;
  line-height: 2;
  z-index: 2;

  a,
  div {
    font-size: 0.75rem;
  }

  div {
    color: var(--neutral-010);
  }

  a {
    color: var(--neutral-010);
    font-weight: 600;
  }

  a + div {
    margin-top: 1rem;
  }
}

.google-map {
  margin-top: 1rem;
}

.shade {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: hsla(0, 0%, 41%, 0.6);
}

.contact-form {
  margin-top: 1rem;
  grid-column: 2 / 6;
  z-index: 2;

  label {
    margin-bottom: 0.125rem;
    color: var(--neutral-010);
    font-size: 0.75rem;
  }

  > * + * {
    margin-top: 1rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 1px solid var(--neutral-064);
    border-radius: 5px;
  }

  ::placeholder {
    color: var(--neutral-041);
  }

  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--neutral-064);
    border-radius: 5px;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem 0;
    border: 0;
    border-radius: 5px;
    background-color: var(--primary-blue);
    color: var(--neutral-094);

    &:disabled {
      background-color: var(--neutral-031);
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: 1140px) {
  .contact-info {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 1rem;
  }

  .contact-form {
    margin-top: 0;
    padding: 1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .shade {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
