.call-to-action {
  padding: 1rem var(--side-padding);
  background-color: var(--primary-blue);
  text-align: center;
}

.cta-heading {
  margin: 0;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
  // grid-column: 1 / -1;
  // margin: 0;
}

.cta-button {
  // grid-column: 3 / 5;
  margin-top: 1rem;
  padding: 0.75rem 3rem;
  font-size: 0.875rem;
}

@media screen and (min-width: 769px) {
  .call-to-action {
    padding: 2rem var(--side-padding);
  }

  .cta-heading {
    font-size: 2.66rem;
  }

  .link-as-button {
    grid-column: 3 / 5;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (min-width: 1128px) {
  .call-to-action {
    --side-padding: 0;

    display: grid;
    grid-template-columns: 1fr 53.33rem 1fr;
  }

  .cta-container {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta-button {
    margin: 0;
  }
}
