.footer {
  // min-height: 7rem;
  padding: 3rem var(--side-padding);
  background-color: var(--dark-blue);
  color: var(--dark-blue-tint);

  h3 {
    color: var(--dark-blue-tint);
    font-size: 1rem;
  }
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-info {
  display: grid;
  column-gap: 0.75rem;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    'logo company'
    'logo copyright';
}

.footer-logo {
  grid-area: logo;
  align-self: center;
}

.company-name {
  grid-area: company;
  align-self: end;
}

.copyright {
  grid-area: copyright;
  align-self: start;
}

.footer-nav {
  margin-top: 1rem;
  text-align: center;

  .home-link {
    display: block;
  }

  h3 {
    margin: 2rem 0 0;
  }

  .nav-links {
    margin: 0;
    padding: 0;
  }

  .navbar-link {
    display: block;
    padding: 0.5rem 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer .contact-info {
  display: none;
}

.footer .services-info {
  display: none;
}

@media screen and (min-width: 769px) {
  .footer {
    display: grid;
    padding-right: 0;
    padding-left: 0;
    grid-template-columns: var(--side-padding) 1fr var(--side-padding);
  }

  .footer-content-container {
    grid-column: 2 / 3;
    display: grid;
    align-items: start;
    column-gap: 1.5rem;
    grid-template-columns: 0.75fr repeat(3, 1fr);
  }

  .company-info {
    display: block;

    .company-name {
      margin-top: 0.5rem;
    }
  }

  .footer h3 {
    margin-top: 0;
  }

  .footer-nav {
    margin: 0;
    text-align: left;
  }

  .footer .contact-info {
    display: block;

    .label-heading {
      font-size: 0.75rem;
    }

    .contact-link {
      color: var(--dark-blue-tint);
      font-size: 0.75rem;
    }

    .contact-link + .label-heading {
      margin-top: 0.5rem;
    }
  }

  .footer .services-info {
    display: block;

    .services-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    h3 {
      margin-bottom: 0;
    }

    li {
      padding: 0.5rem 0;
      font-size: 0.75rem;
    }
  }
}

@media screen and (min-width: 1128px) {
  .footer {
    --side-padding: 0;

    grid-template-columns: 1fr 62.667rem 1fr;
  }

  .footer-nav a {
    font-size: 0.75rem;
  }
}
