.footer {
  // min-height: 7rem;
  padding: 3rem var(--side-padding);
  background-color: var(--dark-blue);
  color: var(--white);
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-info {
  // grid-column: 2 / 4;
  // align-self: center;
  display: grid;
  column-gap: 0.75rem;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    'logo company'
    'logo copyright';
}

.footer-logo {
  grid-area: logo;
  align-self: center;
}

.company-name {
  // margin-top: 1rem;
  grid-area: company;
  align-self: end;
}

.copyright {
  grid-area: copyright;
  align-self: start;
}

.footer-nav {
  margin-top: 1rem;
  text-align: center;

  .home-link {
    display: block;
  }

  h3 {
    margin: 2rem 0 0;
    color: var(--white);
  }

  .nav-links {
    margin: 0;
    padding: 0;
  }

  .navbar-link {
    display: block;
    padding: 0.5rem 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 769px) {
  .company-info {
    display: block;

    .company-name {
      margin-top: 0.5rem;
    }
  }
  .footer-content-container {
    gap: 2rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .footer-nav {
    margin: 0;
    text-align: left;

    h3 {
      margin-top: 0;
      color: var(--dark-blue-tint);
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1128px) {
  .footer-content-container {
    max-width: var(--content-width);
    padding-right: 0;
    padding-left: 0;
  }



  .footer-nav a {
    font-size: 0.75rem;
  }
}
