footer {
  min-height: 7rem;
  padding: 2rem 0;
  background-color: var(--dark-blue);
  color: var(--white);
}

.company-info {
  grid-column: 2 / 4;
  align-self: center;
}

.company-name {
  margin-top: 1rem;
}

.footer-nav {
  grid-column: 5 / 6;
  align-self: center;

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 1140px) {
  .footer-nav a {
    font-size: 0.75rem;
  }
}
