.benefits-modules {

  summary {
    font-size: 1.33rem;
  }

  .details-container {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);

    p {
      grid-column: 1 / 4;
    }

    .supplemental-information {
      grid-column: 4 / 5;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1rem;
    }
  }


}
