:root {
  --header-height: 4rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--neutral-094);
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
  height: var(--header-height);
  margin: 0 auto;
}

.navbar {
  padding: 1rem 0;
  z-index: 100;
}

.logo {
  grid-column: 2 / 3;
  align-self: center;
}

.navbar-toggler {
  grid-column: 5 / 6;
  justify-self: end;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  box-shadow: 0;
}

.navbar-list-item {
  list-style: none;
}

.mobile-nav {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: repeat(3, min-content) 1fr;
  row-gap: 0.75rem;
  transform: translateX(100%);
  transition: all 250ms;
  background-color: var(--neutral-015);
  z-index: 100;

  .mobile-navbar-toggler {
    grid-column: 2 / 3;
    justify-self: center;
  }

  .logo {
    text-align: center;
    grid-column: 2/ 3;
  }

  .nav-links {
    grid-column: 2 / 3;
    justify-self: center;
    // text-align: center;
    padding: 2rem 0;
  }

  .navbar-link {
    color: var(--neutral-094);
    font-size: 1rem;
  }

  .navbar-list-item {
    padding: 0.5rem 0;
    font-size: 0.75rem;
    list-style: none;
  }
}

.navbar-nav.show {
  transform: translateX(0);
}

.large-nav {
  display: none;
}

@media screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }

  .large-nav {
    display: block;
    align-self: center;
    justify-self: end;
    grid-column: 3 / 6;

    .nav-links {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }

    .navbar-list-item a {
      color: var(--secondary-blue);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mobile-navbar-toggler {
    display: none;
  }
}
