:root {
  --header-height: 3rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--white);
  z-index: 100;
}

.header-logo,
.mobile-nav-logo {
  width: auto;
  height: 1.5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  margin: 0 auto;
  padding: 0 var(--side-padding);
}

.menu-button {
  border: 1px solid var(--secondary-blue);
  border-radius: 0.28em;
  background: transparent;
}

.navbar {
  padding: 1rem 0;
  z-index: 100;
}

.logo {
  grid-column: 2 / 3;
  align-self: center;
}

.mobile-navbar-toggler {
  grid-column: 5 / 6;
  justify-self: end;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  box-shadow: 0;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--side-padding);
}

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: repeat(3, min-content) 1fr;
  row-gap: 0.75rem;
  transform: translateX(100%);
  transition: all 250ms;
  background-color: var(--neutral-015);
  z-index: 100;

  .close-button {
    border: 1px solid var(--white);
    border-radius: 0.28em;
    background: transparent;
    color: var(--white);
  }
}

.mobile-nav.show {
  transform: translateX(0);
}

.header-nav {
  display: none;
}

@media screen and (min-width: 769px) {
  .menu-button {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .header-nav {
    display: block;
    align-self: center;
    justify-self: end;
    grid-column: 3 / 6;
  }

  .mobile-navbar-toggler {
    display: none;
  }
}

@media screen and (min-width: 1128px) {
  .header-container {
    max-width: var(--content-width);
    padding: 0;
  }
}
