@import './work/work-item';

.index-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height) + 2rem);
  grid-column: 2 / 6;

  h1 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .button {
    margin-top: 0.5rem;
    font-size: 0.75rem;
  }

  .outline {
    background-color: var(--white);
  }
}

.hbm-section {
  .hbm-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .hbm-item {
    padding: 1rem 0;
    border-radius: 5px;
    background-color: var(--gray-blue);
    font-weight: 600;
    text-align: center;
  }

  .hbm-item + .hbm-item {
    margin-top: 0.5rem;
  }

  .button {
    margin-top: 1rem;
  }
}

.services-section {
  .services-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .services-item {
    padding: 1rem 0;
    border-radius: 5px;
    background-color: var(--light-blue);
    font-weight: 600;
    text-align: center;
  }

  .services-item + .services-item {
    margin-top: 0.5rem;
  }

  .button {
    width: 100%;
    margin-top: 1rem;
  }
}

.clients-section-heading {
  margin-top: 5rem;
}

.client-tile {
  display: flex;
  align-items: center;
  padding: 1rem;
  list-style: none;

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.client-list {
  display: grid;
  margin-top: 0;
  margin-bottom: 5.5rem;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  list-style: none;
  gap: 0.75rem;
}

.recent-work-section {
  padding: 2rem 0;
  grid-column: 1 / -1;
  // background-color: hsl(0, 0%, 96%);

  .work-list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
  }

  .button {
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .index-heading {
    max-width: 40ch;
    grid-column: 2 / 5;
    font-size: 2rem;
  }

  .services-section {
    display: grid;
    margin: 0 calc(var(--side-padding) * -1);
    grid-template-columns: var(--side-padding) repeat(4, 1fr) var(
        --side-padding
      );
    background-image: linear-gradient(
      267.63deg,
      rgba(52, 147, 255, 0.2) 45.83%,
      rgba(52, 147, 255, 0) 100%
    );

    .services-heading {
      font-size: 1.33rem;
    }

    .services-list {
      margin-top: 1rem;
    }

    .services-container {
      margin: -1.5rem 0;
      padding: 3rem;
    }

    .services-link {
      padding: 0.5rem 2rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .services-container {
    grid-column: 3 / 6;
  }

  .recent-work-section {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    background-color: var(--neutral-094);

    .work-section-heading {
      grid-column: 2 / 3;
    }

    .work-list {
      padding: 0;
      grid-column: 2 / 3;
    }
  }
}

@media screen and (min-width: 1128px) {
  .services-section {
    margin: 0;
    grid-column: 1 / -1;
    grid-template-columns: 1fr repeat(2, 31.33rem) 1fr;
  }

  .services-container {
    grid-column: 3 / 4;
    justify-self: center;
  }

  .services-link {
    margin-top: 1rem;
  }
}
