@import './work/work-item';

.index-heading {
  display: flex;
  align-items: center;
  height: calc(100vh - var(--header-height) + 2rem);
  font-size: 1.25rem;
  grid-column: 2 / 6;
  line-height: 1.5;
}

.services-container {
  padding: 0.5rem;
  border: 5px solid var(--secondary-blue);
  border-radius: 5px;
  background-color: var(--white);
  z-index: 2;

  .services-link {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 0;
    border: 2px solid var(--primary-blue);
    border-radius: 5px;
    text-align: center;
  }
}

.horizontal-block {
  background-image: linear-gradient(
    267.63deg,
    var(--primary-blue) 45.83%,
    rgba(52, 147, 255, 0) 100%
  );
  opacity: 0.2;
}

.services-section {
  .services-heading {
    color: var(--secondary-blue);
    font-weight: 700;
    grid-area: heading;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: var(--secondary-blue);
    font-family: var(--sans-serif);
    list-style: none;
    grid-area: services;
    gap: 1rem;

    li {
      padding: 0;
    }
  }
}

.clients-section-heading {
  margin-top: 5rem;
}

.client-tile {
  display: flex;
  align-items: center;
  padding: 1rem;
  list-style: none;

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.client-list {
  display: grid;
  margin-top: 0;
  margin-bottom: 5.5rem;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  list-style: none;
  gap: 0.75rem;
}

.recent-work-section {
  padding: 2rem 0;
  grid-column: 1 / -1;
  background-color: hsl(0, 0%, 96%);


  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 769px) {
  .index-heading {
    max-width: 40ch;
    grid-column: 2 / 5;
    font-size: 2rem;
  }

  .services-section {
    display: grid;
    margin: 0 calc(var(--side-padding) * -1);
    grid-template-columns: var(--side-padding) repeat(4, 1fr) var(
        --side-padding
      );
    background-image: linear-gradient(
      267.63deg,
      rgba(52, 147, 255, 0.2) 45.83%,
      rgba(52, 147, 255, 0) 100%
    );

    .services-heading {
      font-size: 1.33rem;
    }

    .services-list {
      margin-top: 1rem;
    }

    .services-container {
      margin: -1.5rem 0;
      padding: 3rem;
    }

    .services-link {
      padding: 0.5rem 2rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .services-container {
    grid-column: 3 / 6;
  }
}

@media screen and (min-width: 1128px) {
  .services-section {
    margin: 0;
    grid-column: 1 / -1;
    grid-template-columns: 1fr repeat(2, 31.33rem) 1fr;
  }

  .services-container {
    grid-column: 3 / 4;
    justify-self: center;
  }

  .services-link {
    margin-top: 1rem;
  }

  .recent-work-section {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;

    .work-section-heading {
      grid-column: 2 / 3;
    }

    .work-list {
      grid-column: 2 / 3;
    }
  }
}
