:root {
  --main-margin: var(--header-height);
  --content-width: 62.67rem;
  --side-padding: 0.75rem;
}

body {
  // display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr max-content auto;
  grid-template-columns: 100%;
  background-color: var(--neutral-094);
}

.grid {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 0.875rem 1fr 0.875rem;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main {
  // margin: 0 auto;
  margin-top: var(--main-margin);
  padding: 0 var(--side-padding);
}

main > :first-child:not(.index-heading) {
  margin-top: 1rem;
}

.grid > * {
  grid-column: 2 / 6;
}

.content-grid > * {
  grid-column: 1 / 4;
}

.measure {
  max-width: 70ch;
}

section {
  scroll-margin-top: var(--header-height);
}

@media screen and (min-width: 62.67rem) {
  body.home {
    background-image: url('/images/background-graphic.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 150vh;
  }

  main {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: 1fr repeat(4, 15.667rem) 1fr;
  }

  .grid {
    grid-template-columns: 1fr repeat(4, 15.667rem) 1fr;
  }

  .content-grid {
    grid-template-columns: repeat(4, 15.667rem);
  }

  main > :first-child:not(.index-heading) {
    margin-top: 3rem;
  }
}
