:root {
  --main-margin: var(--header-height);
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr max-content auto;
  grid-template-columns: 100%;
  background-color: var(--neutral-094);
}

body.home {
  background-image: url("/images/background-graphic.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 150vh;
}

.grid {
  display: grid;
  grid-template-columns: 0.875rem repeat(4, 1fr) 0.875rem;
}

main {
  margin-top: var(--main-margin);
  padding-bottom: 5rem;
}

main > :first-child:not(.index-heading) {
  margin-top: 1rem;
}

main > * {
  grid-column: 2 / 6;
}

// p {
//   max-width: 70ch;
// }

@media screen and (min-width: 1128px) {
  .grid {
    grid-template-columns: 1fr repeat(4, 15.667rem) 1fr;
  }

  main > :first-child:not(.index-heading) {
    margin-top: 3rem;
  }
}
