:root {
  --main-margin: var(--header-height);
  --content-width: 1128px;
  --side-padding: 0.75rem;
}

body {
  background-color: var(--white);
}

body.page-kind-home {
  background-image: url('https://res.cloudinary.com/ideacrew/image/upload/f_auto,q_auto/v1605799183/ideacrew-website/background.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.mobile-nav-open {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 0.875rem 1fr 0.875rem;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main {
  // min-height: calc(100vh - var(--header-height));
  padding: var(--header-height) var(--side-padding) 0;

  section {
    scroll-margin-top: var(--header-height);
  }

  section + section {
    margin-top: 4rem;
  }

  section:last-child {
    padding-bottom: 4rem;
  }
}

main > :first-child:not(.index-heading) {
  margin-top: 1rem;
}

.grid > * {
  grid-column: 2 / 6;
}

.content-grid > * {
  grid-column: 1 / 4;
}

.measure {
  max-width: 70ch;
}

@media screen and (min-width: 769px) {
  :root {
    --side-padding: 1rem;
  }

  body {
    background-size: contain;
  }
}

@media screen and (min-width: 1128px) {
  main {
    display: grid;
    padding-right: 0;
    padding-left: 0;
    grid-template-columns: 1fr 62.667rem 1fr;
  }

  main > * {
    grid-column: 2 / 3;
  }

  .content-grid {
    grid-template-columns: repeat(4, 15.667rem);
  }

  main > :first-child:not(.index-heading) {
    margin-top: 6rem;
  }
}
