.navbar-list-item {
  list-style: none;
}

.nav-links abbr {
  text-decoration: none !important;
  cursor: pointer !important;
}

.header-nav .no-header {
  display: none;
}

.mobile-nav {
  .nav-links {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
  }

  .navbar-link {
    color: var(--neutral-094);
    font-size: 1rem;
  }

  .navbar-list-item {
    padding: 0.5rem 0;
    font-size: 0.75rem;
    list-style: none;
  }
}

.footer-nav {
  .nav-links {
    margin-top: 1rem;
    padding: 0;
    gap: 1rem;
    text-align: center;
  }

  .navbar-link {
    display: block;
    padding: 0.5rem 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 769px) {
  .header-nav {
    .nav-links {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 0;
      padding: 0;
    }

    .navbar-list-item + .navbar-list-item {
      margin-left: 2rem;
    }

    .home-link {
      display: none;
    }

    .navbar-list-item a {
      color: var(--text-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-nav {
    .nav-links {
      grid-column: 2 / 6;
      display: inline-flex;
      align-self: center;
      justify-self: end;
      margin: 0;
      padding: 0;
    }

    .navbar-link {
      padding: 0 1rem;
      color: inherit;
      font-size: 0.75rem;
    }
  }
}
