.studies-list {
  padding-left: 0;
  list-style: none;

  > * + * {
    margin-top: 1rem;
  }
}

.studies-wrapper {
  min-height: 65vh;
}

.studies-list .study {
  flex: 1 1 50%;
  padding: 1rem;
  border: 2px solid var(--darkest);
  border-radius: 4px;
}

.study-title {
  color: var(--black);
  font-weight: 600;

  &:hover {
    color: inherit;
  }
}

@media screen and (min-width: 769px) {
  .studies-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(150px, 300px));

    > * + * {
      margin-top: 0;
    }
  }
}
