<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

  <head>
    {{ partial "head.html" .}}

    {{- block "head-scripts" . -}}
    {{- end -}}

    {{- block "head-styles" . -}}
    {{- end -}}
  </head>

  <body class="{{ .Page.Kind }}">
    {{ block "hero" . }}
      {{ partial "header.html" . }}
    {{ end }}

    <main>
    {{ block "main" . }}{{ end }}
    {{ block "feed" . }}{{ end }}
    </main>

    {{ block "cta" . }}{{ end }}

    {{ block "footer" . }}
     {{ partial "footer.html" . }}
    {{ end }}
    {{ $opts := dict "targetPath" "main.js"  }}
    {{ $built := resources.Get "ts/menu.ts" | js.Build $opts | resources.Minify | resources.Fingerprint }}
    <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

    {{ block "page-scripts" . }}
    {{ end }}

    {{ block "schema" .}}
    {{ end }}
  </body>
</html>
