.career-summary {
  padding-bottom: 1rem;
  list-style: none;
}

.career-summary + .career-summary {
  padding-top: 1rem;
  border-top: 1px solid var(--secondary-blue);
}

.career-title {
  display: block;
  color: var(--secondary-blue);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.15;
  // font-family: var(--sans-serif);
}

.career-position-type {
  font-size: 0.75rem;
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 1rem;
  font-size: 0.75rem;
  list-style: none;
}

@media screen and (min-width: 769px) {
  .career-summary {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1rem;
  }

  .location-list {
    gap: 0.5rem;
  }
}
