.posted-on {
  font-size: 0.89rem;
  grid-area: posted;
}

.heading-cta {
  margin-top: 0.5rem;
  grid-area: button;
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  grid-area: location;
}

.career-title {
  grid-area: title;
}

.career-content-container {
  margin-top: 1rem;
}

.career-heading {
  margin-bottom: 1rem;
}

.fine-print {
  font-size: 0.75rem;
}

@media screen and (min-width: 769px) {
  .career-heading {
    .career-title {
      margin: 0;
    }

    .heading-cta {
      align-self: start;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1128px) {
  .apply-now {
    justify-self: start;
  }

  .career-details {
    display: flex;
    margin-bottom: 1rem;

    div + div {
      margin-left: 0.5rem;
      padding-left: 0.5rem;
      border-left: 1px solid var(--text-color);
    }
  }
}
