.posted-on {
  font-size: 0.75rem;
  grid-area: posted;
}

.heading-cta {
  margin-top: 0.5rem;
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.career-content-container {
  margin-top: 1rem;
}

.career-heading .button {
  grid-area: button;
  align-self: center;
}
