{{ define "head-styles" }}
{{ $options := (dict "targetPath" "hbm.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/hbm.scss" | resources.ToCSS $options | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<section>
  <h1>Health Benefits Marketplace</h1>
  <p>IdeaCrew pioneered the modular approach to developing Health Insurance Exchanges. At initial launch, states and the Federal Marketplace relied on big bang deployments. These deployments, which ran into the tens and even hundreds of millions of dollars, failed almost universally. Whether a state survived depended on how it reacted to these failures. The DC Exchange chose IdeaCrew to build a replacement Exchange over time, module-by-module. As a result, DC can lay claim to the first modular Exchange, and IdeaCrew is the vendor that built it.</p>
</section>

<section class="benefits-modules">
  <details open>
    <summary>Benefits Marketplace</summary>
    <div class="details-container">
      <p>IdeaCrew’s Benefits Marketplace is a Web-based, end-to-end solution for employers, employees and individuals to sponsor, shop and enroll in insurance benefits. Employees and individuals use Benefits Marketplace to compare and sign up for state offered insurance products through annual open enrollment and qualifying special enrollment periods. State and agency benefit administrators use Benefits Marketplace to define plan offerings, administer enrollment activity, exchange and reconcile employee and individual demographic, enrollment and premium information with trading partners and other systems, and conduct analysis and reporting to improve the program and control costs. Carriers use Benefits Marketplace to upload, test and showcase their products.</p>
      <div class="supplemental-information">
        <a href="/results/district-of-columbia-exchange" class="button primary">DC Health Benefits Exchange</a>
        <a href="/results/district-of-columbia-exchange" class="button primary">Massachusetts Health Connector</a>
      </div>
    </div>
  </details>
  <details>
    <summary>Benefits Ledger</summary>
    <div class="details-container">
      <p>The Benefits Ledger Component is a double entry accounting and billing system, tuned for benefit management business processes. Shared Service Centers, Brokers, Third-Party Administrators and payroll offices use this portal to perform general accounting and manage health insurance premium allocation, billing, invoicing and payment. The Benefits Ledger component supports financial accounts, bank accounts, disbursements and adjustment transactions. It also stores journal entries in the form of transaction details against designated accounts, and a general ledger account balance table caches calculated balance values by accounting period to improve system performance.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Benefits Office</summary>
    <div class="details-container">
      <p>IdeaCrew’s Benefits Marketplace is a Web-based, end-to-end solution for employers, employees and individuals to sponsor, shop and enroll in insurance benefits. Employees and individuals use Benefits Marketplace to compare and sign up for state offered insurance products through annual open enrollment and qualifying special enrollment periods. State and agency benefit administrators use Benefits Marketplace to define plan offerings, administer enrollment activity, exchange and reconcile employee and individual demographic, enrollment and premium information with trading partners and other systems, and conduct analysis and reporting to improve the program and control costs. Carriers use Benefits Marketplace to upload, test and showcase their products.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Benefits Analytics & Reporting</summary>
    <div class="details-container">
      <p>Benefits Analytics and Reporting: IdeaCrew’s Benefits Analytics and Reporting module monitors and predicts metrics relevant to operations. These include summary statistics and longitudinal data summaries accompanied by measures of variability, such as standard deviations and confidence intervals, as well as predictive capabilities, ranging from time series-based forecasting to automated outlier detection, underpinned by statistical methods that allow the analysts to take seasonality and drift in the underlying variables (such as population shifts) into account.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Health Reimbursement Arrangement (HRA) Application</summary>
    <div class="details-container">
      <p>Benefits Analytics and Reporting: IdeaCrew’s Benefits Analytics and Reporting module monitors and predicts metrics relevant to operations. These include summary statistics and longitudinal data summaries accompanied by measures of variability, such as standard deviations and confidence intervals, as well as predictive capabilities, ranging from time series-based forecasting to automated outlier detection, underpinned by statistical methods that allow the analysts to take seasonality and drift in the underlying variables (such as population shifts) into account.</p>
      <div class="supplemental-information">
        <a href="https://ideacrew.github.io/hra_calculator/" class="button primary">Learn More about the HRA Tool</a>
      </div>
    </div>
  </details>
  <details>
    <summary>GlueDB</summary>
    <div class="details-container">
      <p>The next module we developed was a source-of-truth database for the Exchange, in early 2014, called GlueDB. Like most Exchanges, DC faced difficulties with enrollment processing, as there were breakdowns in the EDI with the carriers. IdeaCrew helped the Exchange address this challenge by designing and implementing a new database that was a real-time reflection of the enrollment information that the Exchange believed should be reflected in the carriers’ databases. From there, the Exchange leveraged the GlueDB for carrier reconciliation, federal reporting, and customer service case management. Indeed, DC’s call center representatives to this day have read-only access to the GlueDB, which has improved first-call resolution rates for DC.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Decision Support</summary>
    <div class="details-container">
      <p>Later in 2014, IdeaCrew worked with Consumers’ CHECKBOOK on a consumer decision support module. This module serves as DC’s anonymous plan shopping tool and integrated doctor directory. IdeaCrew was able to deploy this module notwithstanding severe performance problems with the Exchange’s legacy system. This collaboration has led to DC Health Link being recognized by the Clear Choices Campaign as having the best decision support tools among all state-based marketplaces and the Federal marketplace for two years running.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Congressional Module</summary>
    <div class="details-container">
      <p>In early 2015, IdeaCrew deployed a new congressional enrollment module. At the time, the DC Exchange was experiencing severe performance issues with its legacy system. A mid-term election had occurred in November 2014, which meant that new Members of Congress and new congressional staff would be enrolling in coverage through DC’s SHOP marketplace starting in January 2015. In less than 30 days, IdeaCrew developed a new proof of concept system for Members of Congress and their staff to use. The DC Exchange took these Congressional enrollees off of the legacy system and used IdeaCrew’s POC to great success.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>SHOP Module</summary>
    <div class="details-container">
      <p>Following the successful Congressional proof of concept, the DC Exchange asked IdeaCrew to re-build its entire SHOP marketplace. This was necessary because DC was about to embark on a year-long project of bringing all small group health insurance coverage onto DC Health Link (from the carriers’ systems). This project would take enrollment in the SHOP marketplace from approximately 20,000 covered lives to more than 75,000. IdeaCrew build the “one big SHOP” over multiple sprints in the Spring and early Summer, with full deployment coinciding with the sunset of the legacy system in October 2015.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Unassisted Module</summary>
    <div class="details-container">
      <p>Simultaneously with building the SHOP module, IdeaCrew also built a new module for individuals not seeking financial assistance. In DC, the percentage of individual market customers with APTC is in the single digits. Under this module, IdeaCrew developed an APTC assessment tool that allowed customers not eligible for APTC to complete a streamlined enrollment application that didn’t have to touch the Medicaid eligibility rules engine.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Eligibility and Enrollment Module Integration with Medicaid</summary>
    <div class="details-container">
      <p>IdeaCrew also built a new eligibility and enrollment module that integrated with DC’s legacy Medicaid eligibility rules engine (Curam). IdeaCrew worked with DC’s Medicaid agencies and with Curam developers to deliver this new module, also in October 2015. This project opened the flow of information in between the two systems (IdeaCrew’s then-named Enroll App and Curam) and allowed IdeaCrew to leverage Medicaid’s connection to the federal services data hub and the enterprise service bus.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Stand-Alone Eligibility Module</summary>
    <div class="details-container">
      <p>Most recently, IdeaCrew developed a stand-alone eligibility module, leveraging the open source MAGI-in-the-cloud technology. As with all IdeaCrew projects, this module was developed side-by-side with the DC Exchange’s business operations team. That is, the people that know best how an eligibility system should and should not work were the ones designing the business requirements to which we developed. The result is a complete stand-alone eligibility module, including the eligibility rules engine, along with a dynamic financial assistance application. This module is running in production in DC alongside Curam.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
  <details>
    <summary>Premium Billing</summary>
    <div class="details-container">
      <p>DC had originally hired a third-party premium billing vendor for both the individual and SHOP marketplaces. The vendor failed at launch, and IdeaCrew was tasked with defining and executing an emergency plan to transfer premium billing operations back to the carriers on the individual market and away from the non-performing contractor for the SHOP and congressional markets. We delivered this module in 6 weeks.</p>
      <div class="supplemental-information"></div>
    </div>
  </details>
</section>

{{ end }}

{{ define "cta" }}
{{ partial "cta.html" . }}
{{ end }}
