{{ define "head-styles" }}
{{ $pageCSS := "scss/careers/list.scss" }}
{{ $options := (dict "outputStyle" "compressed") }}
{{ $inlineCSS := resources.Get $pageCSS | resources.ToCSS $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
<section>
  <h1>Careers</h1>
  <p>If you’re looking for a company that works where technology touches people’s lives… a company that regularly turns “that’s impossible” into “Got it – what’s next?”… a company that rewards performance with generous pay, health insurance and other employee benefits… IdeaCrew may be right for you. We’re smart, talented, solutions oriented, diverse, forward thinking and fun. As a member of our crew you will have the opportunity to work closely with like-minded professionals in a fast-paced, engaging, professional environment.</p>
</section>
<section>
  <h2>Current Openings</h2>
  <ul class="career-list">
    {{ range .Pages.ByTitle }}
    {{ partial "career-item" . }}
    {{ end }}
  </ul>
</section>
<section>
  <h2>Benefits</h2>
  <p>We offer a flexible work environment (including remote work), a competitive benefits package including medical, dental and vision insurance, life insurance, and 401k matching. The company observes nine paid holidays, provides paid time off for bereavement and jury duty, and offers a generous vacation allowance. Our headquarters are located in Washington, DC. We have an “IT casual” dress code, enjoy social events, team builders, and a commitment to helping our organization continue to evolve.</p>
</section>
<section>
  <h3>Equal Employment</h3>
  <p class="fine-print"><em>IdeaCrew values a diverse workplace and is proud to be an equal opportunity workplace. IdeaCrew does not discriminate on the basis of race, religious creed, color, sex, gender identity, sexual orientation, age, non-disqualifying physical or mental disability, national origin, ancestry, veteran status, marital status, political affiliation,  or any other basis covered by appropriate law. All employment is decided on the basis of qualifications, merit, and business need.</em></p>
</section>
{{ end }}
