{{ define "head-styles" }}
{{ $pageCSS := "scss/careers/single.scss" }}
{{ $options := (dict "outputStyle" "compressed") }}
{{ $inlineCSS := resources.Get $pageCSS | resources.ToCSS $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}


{{ define "main" }}
{{ $jobType := dict "Full Time" "FULL_TIME" }}

<section class="career-heading">
  <h1 class="career-title">{{ .Params.title }}</h1>
  <div class="subheading">{{ .Params.position_type }}</div>
  <div class="location-list">
    {{ delimit .Params.location ", " }}
  </div>
  <div class="posted-on">
    Posted: {{ .Params.post_date.Format "January 2, 2006" }}
  </div>
  <a class="heading-cta button primary" href="mailto:careers@ideacrew.com">Apply Now</a>
</section>
<section>
  <h2>Job Details</h2>
  {{ .Content }}
  <h3>Salary</h3>
  <p>${{ .Params.base_salary }} to ${{ .Params.maximum_salary }} per year</p>
</section>
<section>
  <a class="apply-now button primary" href="mailto:careers@ideacrew.com">Apply Now</a>
</section>
{{- end }}

{{ define "schema" }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "JobPosting",
    "title": "{{ .Params.title }}",
    "description" : "<p>{{ .Params.summary }}</p>",
    "hiringOrganization": {
      "@type": "Organization",
      "name": "IdeaCrew",
      "sameAs": "https://ideacrew.com",
      "logo": "https://ideacrew.com/images/ideacrew-full-logo-with-tagline.png"
    },
    "applicantLocationRequirements": {
      "@type": "Country",
      "name": "USA"
    },
    "jobLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Washington",
        "addressRegion": "DC",
        "addressCountry": "US"
      }
     },
    "baseSalary": {
      "@type": "MonetaryAmount",
      "currency": "USD",
      "value": {
        "@type": "QuantitativeValue",
        "minValue": {{ lang.NumFmt 2 .Params.base_salary "- ." | safeJS }},
        "maxValue": {{ lang.NumFmt 2 .Params.maximum_salary "- ." | safeJS }},
        "unitText": "YEAR"
      }
    },
    "jobLocationType": "TELECOMMUTE",
    "employmentType": "{{ replace .Params.position_type " " "_" | upper }}",
    "datePosted": "{{ .Params.post_date.Format "2006-01-02" }}",
    "validThrough": "2021-02-01"
  }
</script>
{{ end }}
