{{ define "head-styles" }}
{{ $options := (dict "targetPath" "careers/single.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/careers/single.scss" | resources.ToCSS $options | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}


{{ define "main" }}
<section class="career-heading">
  <h1 class="career-title">{{ .Params.title }}</h1>
  <div class="subheading">{{ .Params.position_type }}</div>
  <div class="location-list">
    {{ delimit .Params.location ", " }}
  </div>
  <div class="posted-on">
    Posted: {{ .Params.post_date.Format "January 2, 2006" }}
  </div>
  <a class="heading-cta button primary" href="mailto:careers@ideacrew.com">Apply Now</a>
</section>
<section>
  <h2>Job Details</h2>
  {{ .Content }}
  <h3>Salary</h3>
  <p>{{ .Params.salary_range }}</p>
</section>
<section>
  <a class="apply-now button primary" href="mailto:careers@ideacrew.com">Apply Now</a>
</section>
{{- end }}

{{ define "schema" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "JobPosting",
    "title": "{{ .Params.title }}",
    "hiringOrganization": {
      "@type": "Organization",
      "name": "IdeaCrew"
    },
    "employmentType": "{{ .Params.position_type }}",
    "datePosted": "{{ .Params.post_date.Format "2006-01-02" }}"
  }
</script>
{{ end }}
