{{ define "head-styles" }}
{{ $options := (dict "targetPath" "work-list.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/work-list.scss" | resources.ToCSS $options | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}


{{ define "main" }}
<div class="work-content-container">
  <h1>Our Work</h1>
  <div class="content-container">
    {{ .Content }}
  </div>
  <ul class="work-list">
    {{ range .Pages.ByTitle }}
    <li class="work-item">
      <div class="work-content">
        <h2 class="work-title">
          <a class="work-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <p>{{ .Params.summary }}</p>
      </div>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ define "cta" }}
{{ partial "cta.html" . }}
{{ end }}
