{{ define "head-styles" }}
{{ $options := (dict "targetPath" "work/list.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/work/list.scss" | resources.ToCSS $options | resources.Fingerprint}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}


{{ define "main" }}
<section>
  <h1>Our Work</h1>
  {{ .Content }}
  <ul class="work-list">
    {{ range .Pages }}
    {{ partial "work-item" . }}
    {{ end }}
  </ul>
</section>
{{ end }}

{{ define "cta" }}
{{ partial "cta.html" . }}
{{ end }}
